obj/project.assets.json
obj/project.nuget.cache
obj/UILibrary.csproj.nuget.dgspec.json
obj/UILibrary.csproj.nuget.g.props
obj/UILibrary.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/UILibrary.AssemblyInfo.cs
obj/Debug/net7.0/UILibrary.AssemblyInfoInputs.cache
obj/Debug/net7.0/UILibrary.assets.cache
obj/Debug/net7.0/UILibrary.csproj.AssemblyReference.cache
obj/Debug/net7.0/UILibrary.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/UILibrary.GlobalUsings.g.cs
obj/Debug/net7.0/Avalonia/resources
obj/Debug/net7.0/Avalonia/Resources.Inputs.cache
obj/DebugLinux/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/DebugLinux/net7.0/UILibrary.AssemblyInfo.cs
obj/DebugLinux/net7.0/UILibrary.AssemblyInfoInputs.cache
obj/DebugLinux/net7.0/UILibrary.assets.cache
obj/DebugLinux/net7.0/UILibrary.csproj.AssemblyReference.cache
obj/DebugLinux/net7.0/UILibrary.csproj.CoreCompileInputs.cache
obj/DebugLinux/net7.0/UILibrary.csproj.FileListAbsolute.txt
obj/DebugLinux/net7.0/UILibrary.dll
obj/DebugLinux/net7.0/UILibrary.GeneratedMSBuildEditorConfig.editorconfig
obj/DebugLinux/net7.0/UILibrary.GlobalUsings.g.cs
obj/DebugLinux/net7.0/UILibrary.pdb
obj/DebugLinux/net7.0/Avalonia/original.dll
obj/DebugLinux/net7.0/Avalonia/original.pdb
obj/DebugLinux/net7.0/Avalonia/original.ref.dll
obj/DebugLinux/net7.0/Avalonia/references
obj/DebugLinux/net7.0/Avalonia/resources
obj/DebugLinux/net7.0/Avalonia/Resources.Inputs.cache
obj/DebugLinux/net7.0/ref/UILibrary.dll
obj/DebugLinux/net7.0/refint/UILibrary.dll
bin/DebugLinux/net7.0/UILibrary.deps.json
bin/DebugLinux/net7.0/UILibrary.dll
bin/DebugLinux/net7.0/UILibrary.pdb
